body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.marker-list {
    flex: 1;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    padding: 10px;
    max-width: 20%;
}

.map-container {
    flex: 4;
    height: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.marker-list-item {
    margin-bottom: 15px;
}

.marker-list-item img {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
}

.marker-list-item a {
    display: block;
    margin-top: 5px;
}

.info-window-content {
    display: flex;
    align-items: center;
}

.info-window-content img {
    max-width: 80px;
    max-height: 80px;
    margin-right: 10px;
}
